extends layout

block content
  each article in articles
    section
      include author
      article
        header
          time(datetime=moment.utc(article.date).format('YYYY-MM-DD'), pubdate)= moment.utc(article.date).format('MMM Do, YYYY')
          h2
            a(rel='article', href=article.url)= article.title
        section
          if article.intro.length > 0
            | !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p
              a(rel='more', href=article.url)= 'Continue reading'
  nav(role='navigation')
    ul
      if prevPage
        li
          a(rel='prev', href=prevPage.url)= 'Newer'
      li
        a(rel='archives', href='/blog/archives')= 'Archives'
      if nextPage
        li
          a(rel='next', href=nextPage.url)= 'Older'
