<?xml version="1.0" encoding="utf-8"?>
- var articles = _.first(env.helpers.getArticles(contents), 20);
- var canonicalUrl = locals.url.lastIndexOf('/') === locals.url.length - 1 ? locals.url : locals.url + '/';
feed(xmlns='http://www.w3.org/2005/Atom')
  title= '' + locals.title + ''
  link(href=canonicalUrl + 'atom.xml', rel='self')
  link(href=canonicalUrl)
  updated= moment(articles[0].date).format()
  id= canonicalUrl
  author
    name
        | <![CDATA[
        = locals.owner
        | ]]>
  generator(uri='http://wintersmith.io/') Wintersmith
  for article in articles
    - var permalink = canonicalUrl + (article.url.indexOf('/') === 0 ? article.url.substring(1) : article.url)
    entry
        title(type='html')
            | <![CDATA[
            = article.title
            | ]]>
        link(href=permalink)
        updated= moment(article.date).format()
        id= permalink
        //- passing locals.url resolves all relative urls to absolute
        content(type='html')
            - var excerpt = (function() { var e = article.metadata.excerpt; if (!e) { var articleText = htmlToText.fromString(article.getHtml(locals.url)); var idx = articleText.search(/(\s|[\r\n])\-\-\-\-*(\s|[\r\n])/ig); if (idx > 0) { e = articleText.substring(0, idx - 1); } else { e = articleText; } } return e; }());
            | <![CDATA[
            = excerpt
            | ]]>
