
extends layout

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article
    header
      time(datetime=moment.utc(page.metadata.date).format('YYYY-MM-DD'), pubdate)= moment.utc(page.metadata.date).format('MMM Do, YYYY')
      h2= page.metadata.title
    section!= typogr(page.html).typogrify()
    if locals.disqusName
      section
        h2= 'Comments'
        div#disqus_thread
  nav(role='navigation')
    ul
      li
        a(href=contents.index.url) « Full blog

block prepend footer
  if locals.disqusName
    script(type='text/javascript', src='/javascripts/disqus.js?v=2.0.0&name=' + locals.disqusName)
